{% extends 'AppBundle::layout.html.twig' %}

{% block main %}
    {{ parent() }}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
                <div class="account-wall">
                    <form action="{{ path("fos_user_security_check") }}" method="post" class="form-signin">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                        <h2 class="form-signin-heading text-center">Login Licenta</h2>

                        <label for="email" class="sr-only">Email</label>
                        <input type="text" id="email" name="_email" value="{{ last_username }}" required="required"
                               class="form-control" placeholder="email" />

                        <label for="password" class="sr-only">Parola</label>
                        <input type="password" id="password" name="_password" required="required"
                               class="form-control" placeholder="parola" />

                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="remember_me" name="_remember_me" value="on" /> Remember me
                            </label>
                        </div>
                        <input type="submit" id="_submit" name="_submit" value="Submit" class="btn btn-lg btn-primary btn-block" />
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
